body {
    font-family: 'Segoe UI', sans-serif;    
    margin: 0 0 0 0;
    padding:0;
    height: 100%;
    width: 100%; 
    text-align: center;
}

h3{
    font-size: 4vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 3vh;
}

table, tbody, tr, td{
  display: block;
}

td{
    padding-top: 1vh;    
}

tr:nth-child(odd){
    background-color: black;
}


button{
    width: 20vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 3vh;
    border: solid 1px transparent;
}

#map{
   /* 
       Google Map Fullscreen Hack 
       http://stackoverflow.com/questions/23091732/embed-custom-fullscreen-google-map-into-webpage 
   */
    height:90vh;
    width: 100vw; 
    position: absolute; 
}

#top-container{
    background-color: darkred;
    height: 10vh;
    width: 100vw;
    text-align: left;
    color: white;
}

#menu{
    padding: 2vh;    
}

#menu form{
    display: inline;
    margin-left: 2vw;
}


h1{
    font-size: 4vh;
    margin: 0 0 0 0;
    display: inline-block;
}

#what, #who{
    position: relative;
    top: 10vh;
    
    width: 80vw;    
    margin: auto;
    background-color: darkred;
    color: white;
    display: none;    
    max-height: 80vh;
    overflow-y: scroll;
}



/*
    Hack to remove google icon
*/
.gmnoprint:not(.gm-bundled-control) {
        display: none;
    }

    .gm-bundled-control .gmnoprint {
        display: block;
    }
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}