body {
    font-family: 'Segoe UI', sans-serif;    
    margin: 0 0 0 0;
    height: 100%;
    width: 100%; 
    position: absolute;
    background-color: gray;
}

#map{
   /* 
       Google Map Fullscreen Hack 
       http://stackoverflow.com/questions/23091732/embed-custom-fullscreen-google-map-into-webpage 
   */
    height:90vh;
    width: 100vw; 
    position: absolute; 
}

#top-container{
    background-color: darkred;
    height: 10vh;
    width: 100vw;
    text-align: left;
    color: white;
}

#menu{
    padding: 2vh;    
}

h1{
    font-size: 4vh;
    margin: 0 0 0 0;
}